<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
</head>
<body>
    <h1>Question</h1>
    <form action="" method="post">
        <p>{{ question }}</p>
        {% for index in range(num_options) %}
            <input type="radio" id="option{{ index }}" name="answer" value="{{ index }}" required>
            <label for="option{{ index }}">{{ options[index] }}</label><br>
        {% endfor %}
        <input type="submit" value="Submit Answer">
    </form>
</body>
</html>
